/* Start Our Framework */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #f7600e;
  --secondary-color: #565b61;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color);
}
body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 6px;
  border: 3px solid var(--main-color);
}
input,
textarea {
  outline: none;
}

button:focus {
  outline: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

.table {
  display: table;
  height: 100%;
}

.table-row {
  display: table-row;
}

.text-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.main-color {
  color: #f7600e;
}

.main-background {
  background-color: #f7600e;
}

.hidden {
  display: none;
}

.hover {
  color: #f7600e;
  background-color: #fff;
  border: 1px solid #fff;
}
.hover:hover {
  color: #fff !important;
  background-color: #f7600e;
  border: 1px solid #f7600e;
}
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.overlay {
  background-color: rgba(49, 55, 61, 0.8);
  width: 100%;
  height: 100%;
}
::-webkit-input-placeholder {
  font-size: 14px;
}
:-moz-input-placeholder {
  font-size: 14px;
}
:-ms-input-placeholder {
  font-size: 14px;
}

/* End Our Framework */

/* Start Header */

.header {
  background-image: url("../images/overlay.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
.header .navbar {
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.header .navbar .logo {
  font-size: 24px;
}

.header .navbar .links {
  float: right;
}

.header .navbar .links i {
  margin-left: 5px;
}

.header .intro {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.header .intro h1 {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
}

.header .intro p {
  margin: 15px 0 35px;
  line-height: 1.9;
  font-size: 19px;
  color: #e2e2e2;
}
.header .buttons button {
  background: transparent;
  padding: 10px 0;
  width: 180px;
  font-size: 14px;
  border: 1px solid #909090;
  margin: 0 10px;
  border-radius: 10px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header .buttons button:hover {
  background-color: #f7600e;
  color: #fff;
  border: 1px solid #f7600e;
}
.header .arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 18px;
  font-weight: bold;
}
.header .arrow i {
  border: 2px solid #787878;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 32px;
  cursor: pointer;
}
/* End Header */

/* Start Features */

.features {
  padding: 80px 0;
  overflow: hidden;
}

.features .box {
  width: 22%;
  float: left;
  margin-right: 4%;
}

.features .box:last-child {
  margin-right: 0;
}

.features .box i {
  color: #f7600e;
  border: 1px solid #ccc;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  line-height: 120px;
}
.features .box h3 {
  text-transform: uppercase;
  font-weight: normal;
  color: #505050;
}

.features .box p {
  line-height: 2;
  color: #888;
}
/* End Features */

/* Start Subscribe */

.subscribe {
  background: url("../images/subscribe.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.subscribe form {
  padding: 100px 0;
  width: 700px;
  margin: auto;
  text-align: center;
}
.subscribe form input[type="email"] {
  padding: 0 10px;
  width: 320px;
  font-size: 20px;
  position: relative;
  top: 2px;
  border-radius: 10px;
  border: none;
  height: 37px;
  line-height: 37px;
}
.subscribe form button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
  color: #fff;
  background-color: #f7600e;
  font-size: 14px;
  width: 200px;
  cursor: pointer;
}
/* End Subscribe */

/* Start Our Work */

.our-work {
  padding: 50px 0;
}

.our-work h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 0;
}

.our-work h2 ~ p {
  line-height: 2;
  margin: 10px 0 40px;
}

.our-work .item-box img {
  width: 200px;
  height: 200px;
}

.our-work .show-more {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  color: #555;
  cursor: pointer;
}
.our-work .item-box {
  overflow: hidden;
}
.our-work .item-box .item {
  float: left;
  width: 32%;
  margin-left: 1.3333333%;
  margin-bottom: 12px;
  border-radius: 10px;
  height: 350px;
  position: relative;
}
.our-work .item-box .item img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.our-work .item-box .item .over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 96, 14, 0.9);
  color: #fff;
  border-radius: 10px;
  display: none;
}
.our-work .item-box .item:hover .over {
  display: block;
}
.our-work .item .over h4 {
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 0;
}
.our-work .item .over p {
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 50px;
}
.our-work .item .over button {
  width: 180px;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}
.our-work .item .over button:hover {
  background-color: #fff !important;
  border: 1px solid #fff !important;
  color: #f7600e !important;
}
.our-work .item-box button .show-more {
  color: #f7600e;
}

.our-work .item-box button:hover {
  background-color: #f7600e;
  color: #fff;
}

/* End Our Work */

/* Start Testimonials */
.testim {
  background-image: url("../images/testim-overlay.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.testim .client img {
  border-radius: 50%;
}

.testim .client {
  padding: 50px 0;
  color: #fff;
  font-size: 20px;
}

.testim .client p {
  line-height: 2;
  font-style: italic;
}

.testim .fa-chevron-right,
.testim .fa-chevron-left {
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 30px;
}

.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover {
  color: #f7600e;
}

.testim .fa-chevron-right {
  right: 10%;
  color: #fff;
}

.testim .fa-chevron-left {
  left: 10%;
  color: #fff;
}

/* End Testimonials */

/* Start Our Team */

.our-team {
  padding: 50px 0;
}
.our-team h2 {
  font-size: 35px;
  margin-bottom: 0;
}
.our-team .main {
  margin: 10px 0 40px;
  color: #666;
  line-height: 2;
  font-size: 20px;
}
.our-team .the-team {
  overflow: hidden;
}

.our-team .the-team .preson {
  float: left;
  width: 24%;
  margin-left: 1%;
  color: #888;
}
.our-team .the-team .preson:hover {
  color: #455;
}

.our-team .the-team .preson:hover .sochial-icons .fa-facebook {
  color: #3b5998;
  background-color: #fff;
}

.our-team .the-team .preson:hover .sochial-icons .fa-twitter-square {
  color: #55acee;
  background-color: #fff;
}

.our-team .the-team .preson:hover .sochial-icons .fa-google-plus {
  color: #dc4e41;
  background-color: #fff;
}

.our-team .the-team .preson img {
  width: 265px;
  height: 290px;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.our-team .the-team .preson:hover img {
  filter: none;
  -webkit-filter: grayscale(0);
}

.our-team .the-team .preson p {
  font-size: 15px;
}

.our-team .the-team .preson .sochial-icons i {
  background-color: #9da1a5;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}
/* End Our Team */

/* Start Contact */

.contact {
  background: url("../images/city.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact .overlay {
  padding: 50px 0;
  color: #fff;
}
.contact .overlay h2 {
  font-size: 35px;
}

.contact form {
  width: 700px;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}
.contact form input[type="text"],
.contact form input[type="email"] {
  width: 48%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  border: 5px solid #fff;
  color: #fff;
}

.contact form input[type="email"] {
  float: left;
}

.contact form input[type="text"] {
  float: right;
}

.contact form textarea {
  width: 100%;
  margin-top: 20px;
  height: 140px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.contact form .info {
  overflow: hidden;
  margin-top: 10px;
}

.contact form .info button {
  float: left;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #f7600e;
  font-size: 14px;
  width: 200px;
  cursor: pointer;
}
.contact form .info .form-icons i {
  float: right;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  margin: 0 10px;
  background-color: #000;
  cursor: pointer;
}
.contact form .info .form-icons .fa-facebook {
  color: #3b5998;
}

.contact form .info .form-icons .fa-twitter-square {
  color: #55acee;
}

.contact form .info .form-icons .fa-google-plus {
  color: #dc4e41;
}

/* End Contact */

/* Start Footer */

.footer {
  background-color: #3b434c;
  color: #fff;
  overflow: hidden;
  padding: 30px 0;
}
.footer .copyright {
  float: left;
}

.footer .design {
  float: right;
}

/* End Footer */
